@layout('layouts/base')

@section('main')
<section class="bg-green-500 h-screen text-white pt-16">

  <div class="p-2 pt-10 max-w-screen-md mx-auto">
    <h1 class="text-5xl capitalize">
      Organize and determine expenses between multiple parties.
    </h1>

    <p class="pt-8">
      Just came back from a group trip, track and share expenses with family, friends, roommates, etc.
      <br/>
      Monthly, weekly or daily.
    </p>
  </div>
</section>
@endsection
