<ul>
  @if(auth.isLoggedIn)
    <li>
      Welcome back {{ auth.user.username }}
    </li>
    <li>
      <a href="{{ route('logout') }}">Logout</a>
    </li>
  @else
    <li>
      <a href="{{ route('login.index') }}">Login</a>
    </li>
  @endif
</ul>
